* {
    margin: 0px;
    padding: 0px;
}

:root {    
    --background: rgb(245, 245, 245);
    --color-black: rgba(0, 0, 0, 0.9);
    --color-green: #40cf7c;
}

body {
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-areas: "header";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 200px;
    background-color: var(--background);
    max-width: 1500px;
    margin: 0px auto;
}

a {
    color: var(--color-black);
    text-decoration: none;
    display: block;
}

.titles {
    font-size: 2.5rem;
    margin: 10rem 0px 1rem 6%;

}


.header-main {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    align-items: center;
    position: relative;
}


.header-main .logo {
    border-radius: 3px;
    padding: 10px 20px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 4.5px;
    transition: border-radius .3s;
}

.header-main .logo:hover {
    border-radius: 10px;
}

.header-main .logo a {
    color: var(--background);
}



.header-main .search {
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header-main .search input {
    width: 85%;
    outline: none;
    border: none;
    color: black;
    font-size: 1.1rem;
    background-color: unset;
}

.header-main .search svg {
    background-color: #3182ce;
    padding: 17px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    fill: var(--background);
    transition: background-color .3s;
}

.header-main .search svg:hover {
    background-color: rgb(39, 138, 231); 
}

.header-main .cart {
    display: flex;
    width: 100px;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.15rem;
}

/**************
 Navigation
**************/

.navigation{
    padding: 50px 50px;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    font-size: 1.15rem;
    position: relative;
}

.navigation ul li:hover .sub-category{
    visibility: visible;
    top: 23px;
    opacity: 1;
}

.navigation > ul > li:hover span {
    color: #3182ce;
}

.navigation ul li  svg {
    margin: 0px 45px 0px 3px;
    vertical-align: middle;
}

.navigation ul li span {
    cursor: default;
}

.navigation .sub-category {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4px black;
    transition: top .5s, opacity .5s;
    opacity: 0;
    visibility: hidden;
}

.navigation .sub-category .items-category {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
}

.navigation .sub-category .items-category li {
    margin: 5px 0px;
}

.navigation .sub-category .items-category li a:hover {
    color: rgb(93, 92, 92);
}


/*********
Slide show
*********/

.slide-show {
    height: 500px;
    width: 90%;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    top: -50px;
}

.slide-show .slides {
    width: 500%;
    height: 100%;
    display: flex;
}


.slide-show .slides .slide {
    width: 20%;
    transition: 0.6s;
    position: relative;
}

.slide-show .slides .slide img {
    width: 100%;
    height: 100%;
}

.slide-show .sh-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slide-show .sh-navigation .bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.slide-show .sh-navigation .bar:hover {
    background-color: #fff;
}

/********* 
 Offers
*********/

.all-offers {
    position: relative;
    width: 90%;
    height: 250px;
    margin: 0px auto 25px auto;
    overflow: hidden;
}

.all-offers .offers {
    width: 500%;
    height: 100%;
    display: flex;
}

.all-offers .offers .offer {
    width: 20%;
    position: relative;
    height: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    transition: margin .6s;
}

.all-offers .offers .offer .product{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: white;
}


.all-offers .offers .offers-right {
    position: absolute;
    right: 20px;
    top: calc(125px - 17.5px);
    cursor: pointer;
}

.all-offers .offers .offers-right svg {
    fill: var(--background);
    transition: width .2s, height .2s;
}

.all-offers .offers .offers-right svg:hover {
    height: 45px;
    width: 45px;
}


/*********** 
All Products
 ***********/

 .all-products {
     width: 90%;
     margin: 0 auto;
     height: auto;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(3, 250px);
     grid-gap: 25px;
 }

 .all-products .product {
     background: #8E2DE2;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     line-height: 250px;
     text-align: center;
     font-size: 2.8rem;
     color: white;
 }



/***********
 Pagination 
 *********/

.pagination {
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: 60px;
    grid-gap: 15px;
}

.pagination .page {
    background-color: #44337a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;

}


 /********
  Footer Main
 ********/

 .footer-main {
     margin-top: 10rem;
     background-color: #161a22;
     height: 300px;
     display: grid;
     grid-template-areas: "products socials info" "footer footer footer";
     grid-template-rows: 1fr 0.25fr;
     grid-template-columns: 1fr 1.8fr 1.5fr;
 }

 .footer-main .products {
     padding: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

 }

 .footer-main .products h3{
     color: white;
     font-size: 1rem;
     text-transform: uppercase;
 }

 .footer-main .products a {
    color: rgb(187, 187, 187);
    font-size: 0.8rem;
 }

 .footer-main .socials {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 25px 10%;
 }

 .footer-main .socials .feather{ 
    width: 35px;
    height: 35px;
    fill: #161a22;
    stroke: rgb(131, 131, 131);
    stroke-width: 1.3;
    transition: stroke .3s;
}

.footer-main .socials .feather:hover {
    stroke: white;
}

.footer-main .info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-main .info .dark {
    color: rgb(131, 131, 131);
}


.footer-main .footer {
    padding: 0px 25px;
    line-height: 60px;
    grid-area: footer;
    background-color: #15181b;
    color: rgb(187, 187, 187);
}

.footer-main .footer .improved {
    padding-left: 5px;
    border-left: 2px solid white;
    color: white;
}

